@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body{
    font-family: "Roboto", serif !important;
}
video{
    width: 100.1vw !important;
  }
.tittle{
    /* bottom: 50vh;
    left: 35vw;
    font-size: 500%;
    color: #c7c7c7;
    text-align: center; */
}

.description{
    position: absolute;
    bottom: 45vh;
    left: 40vw;
    font-size: 200%;
    color: #c7c7c7;
    text-align: center;
}